body {
    max-width: 1440px;
    min-width: 255px;
    margin: 0 auto;
}

.main, .footer {
    padding-left: 4vw;
}

.header {
    box-sizing: border-box;
    padding-top: 24px;
    background-image: url(../img/headerbackground.svg);
    background-position: center;
    height: 466px;
}

.header_logo {
    text-align: center;
}

.header_logo>img {
    vertical-align: middle;
}

.header_content {
    max-width: 784px;
    margin: 24px auto 0 auto;
    display: flex;
}

.header_content img {
    margin-right: 15px;
}

.header_content_text {
    flex-shrink: 0;
    margin-top: 46px;
}


.header_content_text h4 {
    color: #FFF;
    margin-top: 52px;
}

.header_content_text>h4>span {
    color: #FFF;
}

.categories {
    margin-top: 40px;
}

.categories ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: auto;
}

.categories ul>li {
    display: flex;
    flex-shrink: 0;
    gap: 8px;
    height: auto;
    box-sizing: border-box;
    padding: 8px 14px;
    vertical-align: middle;
    border-radius: 50px;
    text-align: center;
}

.categories ul>li:hover {
    background-color: rgba(255, 171, 8, 0.7);
    cursor: pointer;
}

.active {
    background-color: rgba(255, 171, 8, 1);
}

.main_content {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.cart {
    width: 300px;
    margin-top: 72px;
    box-sizing: border-box;
    padding: 24px 16px;
    height: auto;
}

.cart_open {
    position: absolute;
    box-sizing: border-box;
    padding: 16px 10px;
    border-radius: 12px;
    background: #FFF;   
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}

.cart_header {  
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.cart_header>button {
    width: 41px;
    height: 20px;
    border-radius: 6px;
    background-color: #F2F2F3;
    border: 0;
    top: 2px;
    right: 0;
}

.cart_items {
    margin-top: 12px;
    height: 252px;
}

.cart_item {
    position: relative;
    display: none;
    width: 268px;
    height: 84px;
    border-top: 1px solid #F2F2F3;
    border-bottom: 1px solid #F2F2F3;
    box-sizing: border-box;
    padding: 16px 0;
}

.cart_item_text {
    margin-left: 6px;
}

.cart_item_text>span {
    font-weight: 400;
    font-size: 12px;
}
.cart_item_text h5:last-child {
    margin-top: 6px;
}

.cart_item_counter {
    position: absolute;
    right: 0;
    top: 22px;
    box-sizing: border-box;
    width: 84px;
    height: 40px;
    display: flex;
}

.cart_item_counter>input {
    background-color: #F2F2F3;
    border: 0;
    width: 33%;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.cart_item_counter>button{
    border: 0;
    width: 33%;
    background-color: #F2F2F3;
}

.cart_item_counter>button:first-child {
    border-radius: 12px 0 0 12px;
}

.cart_item_counter>button:last-child {
    border-radius: 0px 12px 12px 0;
}

.cart_result {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.cart_main>button {
    width: 268px;
    height: 40px;
    box-sizing: border-box;
    padding: 11px 32px;
    border: 0;
    margin-top: 24px;
    border-radius: 12px;
    background-color: #FF7020;
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.cart_main>button:hover {
    cursor: pointer;
}

.cart_delivery {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_delivery_text {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cart_delivery_close {
    display: none;
}

.cart_delivery_close:hover {
    cursor: pointer;
}

.cart_delivery_close span {
    font-size: 10px;
}

.items_cards {
    justify-content: center;
    max-width: 960px;
    min-width: 632px;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.items {
    display: none;
}

.item {
    box-sizing: border-box;
    padding: 12px;
    max-width: 300px;
    max-height: 411px;
}

.cardadd:hover {
    cursor: pointer;
}

.item > h3 {
    margin-top: 10px;
}

.item > h4 {
    margin-top: 8px;
    margin-bottom: 29px;
}

.item > button {
    margin: 8px auto 0 auto;
    box-sizing: border-box;
    border: 0;
    border-radius: 12px;
    background-color: #F2F2F3;
    max-width: 276px;
    width: 100%;
    padding: 11px 92px;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.itemimg:hover {
    cursor: pointer;
}

.item_lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.80);
}

.item_lightbox_card {
    position: relative;
    background-color: #FFF;
    width: 684px;
    height: 432px;
    margin: 150px auto 0 auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 24px;
    box-sizing: border-box;
    padding: 24px 24px 36px 24px;    
}

.closebutton {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 0;
    background-color: #FFF;
}

.closebutton:hover {
    cursor: pointer;
}

.item_lightbox_card_main {
    display: flex;
    gap: 16px;
    margin-top: 24px
}

.item_lightbox_card_text>ul {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%
}

.item_lightbox_card_text>ul>li {
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%
}

.item_lightbox_card_text>span {
    font-weight: 400;
    font-size: 12px;
}

.item_lightbox_card_footer {
    position: relative;
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.item_lightbox_card_footer>button {
    box-sizing: border-box;
    border: 0;
    border-radius: 12px;
    background-color: #FF7020;
    width: 276px;
    padding: 11px 92px;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
}

.item_lightbox_card_counter {
    box-sizing: border-box;
    width: 84px;
    height: 40px;
    display: flex;
}

.item_lightbox_card_counter>button{
    border: 0;
    width: 33%;
    background-color: #F2F2F3;
}

.item_lightbox_card_counter>input {
    background-color: #F2F2F3;
    border: 0;
    width: 33%;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.item_lightbox_card_counter>button:first-child {
    border-radius: 12px 0 0 12px;
}

.item_lightbox_card_counter>button:last-child {
    border-radius: 0px 12px 12px 0;
}

.item_lightbox_card > h3 {
    position: absolute;
    right: 24px;
    bottom: 41px;
}

.delivery_lightbox {
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.80);
}

.delivery_lightbox_block {
    margin: 150px auto 0 auto;
    display: flex;
    width: 684px;
    height: 432px;
}

.delivery_lightbox_block_img {
    box-sizing: border-box;
    border-radius: 12px 0 0 12px;
    width: 50%;
    background-color: #FFAB08;
    text-align: center;
    padding-top: 65px;
}

.delivery_lightbox_block_text {
    position: relative;
    text-align: left;
    width: 50%;
    border-radius: 0 12px 12px 0;
    background-color: #FFF;
    box-sizing: border-box;
    padding-left: 24px;
    padding-top: 44px;
}

.delivery_lightbox_block_text>.closebutton {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 0;
    background-color: #FFF;
}

.delivery_lightbox_block_text_inputs {
    margin-top: 16px;
    width: 294px;
}

.delivery_lightbox_block_text_inputs>input {
    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #F2F2F3;
    background-color: #FFF;
    font-family: Nunito;
}

.delivery_lightbox_delivery_check span {
    color: #000;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.delivery_lightbox_delivery_check>div:last-child {
    margin-top: 12px;
}

.delivery_lightbox_delivery_adress {
    display: none;
}

.delivery_lightbox_delivery_adress input {
    margin-top: 16px;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #F2F2F3;
    background-color: #FFF;
    font-family: Nunito;
}

.delivery_lightbox_delivery_adress>div {
    display: flex;
    gap: 8px;
}

.delivery_lightbox_delivery_adress>div>input {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.delivery_lightbox_block_text>button {
    margin-top: 20px;
    box-sizing: border-box;
    border: 0;
    border-radius: 12px;
    background-color: #FF7020;
    width: 294px;
    padding: 11px 92px;
    color: #fff;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}



.footer {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 17vw;
    box-sizing: border-box;
    padding: 40px 0 50px 4vw;
}

.footer_logo {
    flex-shrink: 0;
}

.footer_logo img {
    vertical-align: middle;
}

.contacts {
    display: flex;
    gap: 5vw;
    box-sizing: border-box;
    padding-top: 12px;
}

.contacts_number {
    flex-shrink: 0;
}

.contacts h3 {
    font-weight: 400;
    margin-bottom: 22px;
}

.contacts_number span {
    color: #000;
}

.contacts_social {
    flex-shrink: 0;
}

.contacts_social_href {
    display: flex;
    gap: 16px;
}

.open {
    display: block;
}

.authors {
    position: absolute;
    bottom: 0;
}